version: 2

jobs:
  validate_terraform:
    docker:
      - image: hashicorp/terraform
    steps:   
      - checkout
      - run:
          name: Install Alpine dependencies
          command: apk add make      
  
  deploy:
    docker:
      - image: hashicorp/terraform
    steps:     
      - checkout
      - run:
          name: Install Alpine dependencies
          command: apk add bash jq make
      - run:
          name: Terraform init
          command: terraform init
      - run:
          name: Terraform plan
          command: |
            terraform plan \
            --var AWS_PERSONAL_ACCESS_KEY=$AWS_PERSONAL_ACCESS_KEY \
            --var AWS_PERSONAL_SECRET_KEY=$AWS_PERSONAL_SECRET_KEY
      - run:
          name: Terraform apply
          command: |
            terraform apply \
            --var AWS_PERSONAL_ACCESS_KEY=$AWS_PERSONAL_ACCESS_KEY \
            --var AWS_PERSONAL_SECRET_KEY=$AWS_PERSONAL_SECRET_KEY

workflows:
  version: 2
  deploy:
    jobs:
      - validate_terraform
      - deploy:
          requires:
            - validate_terraform
          filters:
            branches:
              only: master

              